html {
    font-size: 62.5%;
}
// We define font size structure here. 1 rem is 16px. So 62.5% of 16 is 10, so doign this gives is a 10 based system. so 1.6rem is 16px etc.

body {
    color: $dark-grey;
    font-family: Helvetica, Arial, sans-serif;  // This will go down the list from first to last. If one isn't available it goes to the next one.
    font-size: $m-size;
    line-height: 1.6;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active {
    font-weight: bold;
}

*, *:before, *:after {
    box-sizing: border-box;
} // This allows for the arrow to appear on the date range picker.
